.table-toolbar {
  /*text-align: right;*/
  padding: 12px;
  display: flex;
}
.table-name {
  flex-grow: 1;
}
.tools {
  text-align: right;
}

.loading {
  position: fixed;
  top: 40%;
  left: 50%;
  z-index: 9999;
}

.form-control {
  border-radius: 0px !important;
}
