.table-toolbar {
  padding: 12px 12px 12px 24px;
  display: flex;
}
.table-name {
  flex-grow: 1;
}
.tools {
}

.loading {
  position: fixed;
  top: 40%;
  left: 50%;
  z-index: 9999;
}

.form-control {
  border-radius: 0px !important;
}
