.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-grow: 1;
  padding: 0;
}

.table {
  margin-bottom: 0;
}

.pagination {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}

.toolbar {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #007bff;
}

.table-body {
  height: 5vh;
  width: 100%;
}

.table-body > td:not(:first-child) {
  border-right: #CCCCCC solid 1px;
}

.table-header > th:not(:first-child) {
  border-right: #CCCCCC solid 1px;
  vertical-align: middle;
}

.table-header > th:nth-child(n+3) {
  text-align: center;
}

.btn-column-content {
  text-align: center !important;
  vertical-align: middle !important;
}

.btn-column-header {
  text-align: center !important;
}

.table-cell {
  vertical-align: middle !important;
}

.tests-table-body > .table-body:nth-child(odd) {
  background-color: #f2f2f2;
}
