.expanded-button-name {
  width: 100%;
}
.expanded-button-glyph {
  float: right;
  vertical-align: bottom !important;
}
.header-title {
  height: 100%;
  width: 58%;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
  font-size: xx-large;
  float: left;
}
.header-tools {
  display: block;
  margin-left: 61%;
  margin-top: 1%;

  padding: 0.5%;
  width: 38%;

}
.header-buttons {
  align-self: right;
  text-align: right;
}
.progress {
  position: relative;
}

.progress span {
  position: absolute;
  display: block;
  width: 100%;
  color: black;
}


