.react-bs-table table td, .react-bs-table table th {
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.custom-header {
  text-align: center !important;
}

.table>tbody>tr>td, .table>tbody>tr>th,
.table>tfoot>tr>td, .table>tfoot>tr>th,
.table>thead>tr>td, .table>thead>tr>th {
  vertical-align: middle !important;
}

.table-bordered>tbody>tr>td:nth-child(2), .table-bordered>tbody>tr>th:nth-child(2),
.table-bordered>thead>tr>td:nth-child(2), .table-bordered>thead>tr>th:nth-child(2){
  border-left: none !important;
  border-right: none !important;
}

.table-bordered>tbody>tr>td:first-child, .table-bordered>tbody>tr>th:first-child,
.table-bordered>thead>tr>td:first-child, .table-bordered>thead>tr>th:first-child{
  border-left: none !important;
  border-right: none !important;
}

.chain-component-span {
  cursor: pointer;
  color: rgb(67, 136, 204);
}

.chain-component-modal-header {
  background-color: rgb(67, 136, 204);
  color: #FFFFFF;
  border-radius: 5px;
}

.chain-component-modal-footer {
  border-top: 1px solid rgb(67, 136, 204) !important;
  border-radius: 5px;
  background-color: #FFFFFF;
}

.chain-component-btn {
  color: #FFFFFF !important;
  background-color: rgb(67, 136, 204) !important;
  border-color: rgb(67, 136, 204) !important;
  outline: none !important;
}

.chain-component-btn:focus {
  border-color: rgb(67, 136, 204) !important;
}

.tooltip-in > .tooltip-inner{
  background-color: #337ab7;
  color: #FFF;
  border: 1px solid #337ab7;
  word-wrap: break-word;
}

.table-striped>tbody>tr:nth-of-type(odd){
  background-color: #f2f2f2 !important;
}

.tooltip-in > .tooltip-arrow{
  border-bottom: 5px solid #337ab7 !important;
}

.chain-component-btn:hover {
  border-color: rgb(50, 74, 125) !important;
  background-color: rgb(50, 74, 125) !important;
}

.modal-dialog {
  top: 25% !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover,
.pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  background-color: rgb(67, 136, 204) !important;
  border-color: rgb(67, 136, 204) !important;
  color: #fff !important;
}
.pagination {
  width: fit-content !important;
  margin-bottom: 2vh !important;
}
