.view-results-table {
  display: block;
  height: 100%;
  width: 77%;
  margin-left: 22%;
  margin-right: 1%;
  margin-top: 1%;

}
.search-params {
  margin-left: 1%;
  margin-top: 1%;
  background-color: #EEE;
  padding: 0.5%;
  width: 20%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #CCC;
  border-radius: 3px;
  float: left;
}
.info-button {
  height: 4vw;
  border-width: 0px 0px 0px 1px !important;
  border-radius: 0 !important;
}
.nav.nav-tabs::after {
  clear: none;
}
.nav.nav-tabs {
  border-bottom: 0px;
}
.search-additional {
  margin-top: 5%;
  margin-bottom: 5%;
}
.search-select {
  margin-top: 2%;
  margin-bottom: 1%;
}
.action {
  margin: 1%;
}

.DateRangePicker {
  width: 100%;
}

.DateRangePickerInput {
  width: 100%;
}

.DateInput__small {
  width: 49%;
}
.DateInput_input__small {
  text-align: center;
}

.DateRangePicker_picker {
  z-index: 10;
}
.DateRangePicker_picker:hover {
  z-index: 11;
}
