.view-results-table {
  display: block;
  height: 100%;
}
.search-params {
  background-color: #EEE;
  padding: 0.5%;
  width: 20%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #CCC;
  border-radius: 3px;
  float: left;
}
.info-button {
  height: 3vw;
  border-width: 0px 1px 0px 0px !important;
  border-radius: 0 !important;
}
.nav.nav-tabs::after {
  clear: none;
}
.nav.nav-tabs {
  border-bottom: 0px;
}
.search-additional {
  margin-top: 5%;
  margin-bottom: 5%;
}
.search-select {
  margin-top: 2%;
  margin-bottom: 1%;
}
.action {
  margin: 1%;
}
